.portfolio-wrapper,
.container-sm {
  max-width: 500px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
}

.bug-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

#about {
  padding-bottom: 40px;
}

h1 {
  font-family: ;
}

/*
font-family: "Open Sans", sans-serif;
*/
