/*
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto Slab', serif;
*/

:root {
  --primary-color: #41483c;
  --secondary-color: #501717;
}

body {
  background-color: #ebdbcb;
}

.portfolio-wrapper {
  margin: 100px 0 30px 0;
}

.navbar-brand {
  font-family: "Roboto Slab", serif !important;
  color: var(--secondary-color) !important;
}

h1 {
  color: var(--primary-color);
  font-size: 36px;
  letter-spacing: 0.1em;
  padding: 0 5px 25px 5px;
}

h2 {
  padding-top: 15px;
  font-size: 18px;
  font-family: "Roboto Slab", serif;
  font-weight: 300;
  color: var(--primary-color);
  letter-spacing: 0.1em;
  text-align: center;
}

.name {
  font-weight: lighter;
  color: var(--primary-color);
  font-family: "Roboto Slab", serif;
}

.subheading {
  font-family: "Open Sans", sans-serif;
}

.icon {
  display: flex;
  margin: auto;
  max-width: 250px;
}

.about {
  display: flex;
  margin: auto;
  padding-top: 20px;
  max-width: 375px;
  font-family: "Open Sans", sans-serif;
}

.nav-link {
  font-family: "Open Sans", sans-serif;
}

.bug-link {
  color: var(--primary-color);
  font-weight: 400;
  text-decoration: underline;
}

.bug-link:hover {
  color: var(--primary-color);
  font-weight: 400;
}

.footer {
  height: 30px;
  margin-top: 70px;
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.social-icon {
  font-size: 20px;
  color: var(--secondary-color);
}

.social-icon:hover {
  color: #ecf0ea;
}

.bug-pic {
  max-width: 350px;
  display: flex;
  margin: auto;
}

.content-wrapper {
  max-width: 375px;
  display: flex;
  margin: auto;
  justify-content: center;
}

form {
  margin-top: 30px;
  transition: all 1s ease-in-out;
  width: 375px;
 
}

.form-control {
  max-width: 375px;
  background: transparent;
  display: flex;
  margin: auto;
  border: 1px solid var(--secondary-color);
  font-family: "Open Sans", sans-serif !important;
}

input {
  color: var(--secondary-color);
}


button {
  display: flex !important;
  margin: auto !important;
  font-family: "Roboto Slab", serif !important;


button:hover {
  background-color: #41483c;
  
}
