.portfolio-wrapper,
.container-sm {
  max-width: 500px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  font-family: "Open Sans", sans-serif;
}

.bug-img {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  margin-bottom: 10%;
}

#about {
  padding-bottom: 40px;
}

h1 {
  font-weight: 600;
  font-style: italic;
}

h3 {
  line-height: 1.05;
}

/*
font-family: "Open Sans", sans-serif;
*/
